.achievements {
  margin-bottom: 28px;

  @media (max-width: @page-min-mobile) {
    width: 100%;
  }

  @media (min-width: @page-width-tablet) {
    order: 4;
    padding: 1px 58px 48px;
    margin-bottom: 25px;
    margin-top: 20px;
  }

  @media (min-width: @page-width-desktop) {
    margin-top: 11px;
    padding: 44px 60px 59px;
  }
}

.achievements,
.achievements__title {
  background-color: @bg-color-sup;

  @media (min-width: @page-width-tablet) {
    background-color: @bg-color-basic;
  }
}

.achievements__title {
  @media (max-width: @page-min-mobile) {
    width: 100%;
  }

  @media (min-width: @page-width-tablet) {
    padding: 0 32px;
    margin-top: -10px;
  }

  @media (min-width: @page-width-desktop) {
    margin-top: -8px;
  }
}

.achievements__title-text {
  @media (max-width: @page-min-mobile) {
    display: inline-block;
    width: 250px;
  }
}

.achievements__list {
  .reset-list;

  @media (min-width: @page-width-desktop) {
    display: grid;
    grid-template-columns: 259px 240px 211px;
    grid-template-rows: 35px 35px;
    grid-auto-rows: 35px;
    column-gap: 54px;
    row-gap: 47px;
  }
}

.achievements__item {
  margin-bottom: 41px;

  @media (min-width: @page-width-tablet) {
    margin: 43px 0 0;
  }

  @media (min-width: @page-width-desktop) {
    margin: 0;
  }
}

.achievements__item:nth-child(1) {
  grid-column-start: 1;
  grid-row-start: 1;
}

.achievements__item:nth-child(2) {
  grid-column-start: 1;
  grid-row-start: 2;
}

.achievements__item:nth-child(3) {
  grid-column-start: 2;
  grid-row-start: 1;
}

.achievements__item:nth-child(4) {
  grid-column-start: 2;
  grid-row-start: 2;
}

.achievements__item:nth-child(5) {
  grid-column-start: 3;
  grid-row-start: 1;
}

.achievements__item:nth-child(6) {
  grid-column-start: 3;
  grid-row-start: 2;
}

.achievements__label::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 39px;
  height: 39px;
  margin-right: 20px;
  background-color: @bg-color-basic;
  border: 2px solid @border-color-checkbox;
  border-radius: 2px;
  cursor: pointer;
  outline: 0;

  @media (min-width: @page-width-tablet) {
    margin-right: 19px;
    vertical-align: top;
  }
}

.achievements__label {
  &:hover::before {
    border-color: @text-color-plain;
  }

  &:active::before,
  &:focus::before {
    border-color: @text-color-accent;
  }
}

.achievements__field:checked + .achievements__label::before {
  background-image: url("../img/icon-yes.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.achievements__field:focus + .achievements__label::before {
  outline: 0;
  border-color: @text-color-accent;
}
