.advantages {
  width: 100%;
  min-height: 786px;

  background-color: @bg-color-sup;
  text-align: center;
  background-position: 0 0;
  background-image: url("../img/bg-triangle-white.svg");
  background-size: 100%;
  background-repeat: no-repeat;

  @media (min-width: @page-width-tablet) {
    min-height: 489px;
  }

  @media (min-width: @page-width-desktop) {
    width: 100%;
  }
}

.advantages__container {
  width: 100%;
  padding: 81px 30px 287px;

  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat, no-repeat;
  background-position: center bottom -45px;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/iphone-screen-mobile@2x.png");
    background-size: auto 320px;
  }

  @media (min-width: @page-width-tablet) {
    padding: 78px 0 6px 320px;

    background-image: url("../img/iphone-screen-3-tablet@1x.png");
    background-position: calc(50% - 176px) bottom;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-screen-3-tablet@2x.png");
      background-size: auto 481px;
    }
  }

  @media (min-width: @page-width-desktop) {
    width: 100%;
    padding: 414px 0 10px;
    background-image: none;
  }
}

.advantages__list {
  display: flex;
  flex-direction: column;
  width: 260px;
  margin: 0 auto;

  @media (min-width: @page-width-tablet) {
    width: 320px;
  }

  @media (min-width: @page-width-desktop) {
    flex-direction: row;
    justify-content: space-between;
    width: 892px;
  }
}

.advantages__item {
  position: relative;
  text-align: center;

  @media (min-width: @page-width-tablet) {
    text-align: left;
  }

  @media (min-width: @page-width-desktop) {
    max-width: 252px;
    text-align: center;
  }
}

.advantages__item::before {
  @media (min-width: @page-width-desktop) {
    content: "";
    position: absolute;
    top: -357px;
    left: 0;
    width: 100%;
    height: 301px;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.advantages__item:nth-child(1)::before {
  background-image: url("../img/iphone-screen-1-desktop@1x.png");

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/iphone-screen-1-desktop@2x.png");
    background-size: auto 300px;
  }
}

.advantages__item:nth-child(2)::before {
  left: 3px;
  background-image: url("../img/iphone-screen-2-desktop@1x.png");

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/iphone-screen-2-desktop@2x.png");
    background-size: auto 300px;
  }
}

.advantages__item:nth-child(3)::before {
  left: 6px;
  background-image: url("../img/iphone-screen-3-desktop@1x.png");

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/iphone-screen-3-desktop@2x.png");
    background-size: auto 300px;
  }
}

.advantages__title {
  padding-bottom: 12px;

  font-weight: 700;
  font-size: @text-size-normal;
  line-height: 24px;
  color: @text-color-header;

  @media (min-width: @page-width-desktop) {
    margin-bottom: 22px;
    padding: 0 10px;
    font-size: @text-size-headers;
    line-height: 30px;
  }
}

.advantages__description {
  margin-left: 0;
  padding-bottom: 31px;

  font-weight: 400;
  font-size: @text-size-small;
  line-height: 24px;
  color: @text-color-plain;

  @media (min-width: @page-width-tablet) {
    margin-bottom: 4px;
  }

  @media (min-width: @page-width-desktop) {
    margin: 0;
    padding: 0 5px;
    font-size: @text-size-normal;
    line-height: 30px;
  }
}
