.advantages {
  min-height: 786px;

  // padding: 51px 20px 0;
  padding: 88px 20px 10px;
  background-color: @bg-color-sup;
  // background-image: url("../img/bg-triangle-white.svg");
  // background-position: 0 -66px;
  // background-repeat: no-repeat;
  // background-size: auto;
}

// .advantages__list
.advantages__item {
  text-align: center;
}

.advantages__title {
  padding-bottom: 24px;

  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: @text-size-normal;
  line-height: 24px;
  color: @text-color-header;
}

.advantages__description {
  margin-left: 0;
  padding-bottom: 43px;

  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: @text-size-small;
  line-height: 24px;
  color: @text-color-plain;
}
