.contacts {
  padding: 41px 0 0;
  font-style: normal;
  text-align: center;

  @media (min-width: @page-width-tablet) {
    padding: 44px 0 0;
  }

  @media (min-width: @page-width-desktop) {
    padding: 59px 0 0;
  }
}

.contacts__container {
  @media (min-width: @page-width-desktop) {
    width: 880px;
  }
}

.contacts__offer {
  margin: 0 0 34px;
  font-weight: 300;
  font-size: @text-size-large;
  line-height: 29px;
  color: @text-color-plain;

  @media (min-width: @page-width-tablet) {
    margin-bottom: 33px;
    font-size: @text-size-xl;
    line-height: 54px;
  }

  @media (min-width: @page-width-desktop) {
    margin-bottom: 34px;
    font-size: @text-size-xxl;
    line-height: 68px;
  }
}

.contacts__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 16px;

  @media (min-width: @page-width-tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 0 4px;
  }

  @media (min-width: @page-width-desktop) {
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
    padding-top: 6px;
  }
}

.contacts__item {
  margin-bottom: 20px;
}

.contacts__item:first-child {
  @media (min-width: @page-width-tablet) {
    margin-left: 16px;
    margin-right: 97px;
  }

  @media (min-width: @page-width-desktop) {
    margin-left: 17px;
    margin-right: 17px;
  }
}

.contacts__item:nth-child(2) {
  @media (min-width: @page-width-desktop) {
    order: 3;
  }
}

.contacts__item:last-child {
  @media (min-width: @page-width-tablet) {
    margin-top: 21px;
  }

  @media (min-width: @page-width-desktop) {
    order: 2;
    margin: 0 30px;
  }
}

.contacts__header {
  margin: 0;
  font-weight: 700;
  font-size: @text-size-normal;
  line-height: 25px;
  color: @text-color-plain;

  @media (min-width: @page-width-tablet) {
    margin-bottom: 5px;
  }

  @media (min-width: @page-width-desktop) {
    margin-bottom: 21px;
  }
}

.contacts__text {
  margin: 0;
  font-weight: 300;
  font-size: @text-size-large;
  line-height: 32px;
  color: @text-color-accent;
}

.contacts__content {
  color: inherit;
  text-decoration: none;
}

.contacts__content--email {
  &:hover {
    color: @text-color-plain;
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts__location-map {
  position: relative;
  // width: @page-width-mobile;
  width: 100%;
  min-height: 200px;
  margin-left: auto;
  margin-right: auto;

  background-color: @bg-color-sup;
  background-image: url("../img/icon-map-marker.svg"),
    url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat, no-repeat;
  background-size: auto, auto;
  background-position: center 94px, center bottom;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/icon-map-marker.svg"),
      url("../img/bg-map-mobile@2x.jpg");
    background-size: auto, 320px;
  }

  @media (min-width: @page-width-tablet) {
    // width: @page-width-tablet;
    min-height: 374px;
    // margin-left: -48px;
    // margin-right: -48px;

    background-image: url("../img/icon-map-marker.svg"),
      url("../img/bg-map-tablet@1x.jpg");
    background-size: auto, auto;
    background-position: center 193px, center bottom;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/icon-map-marker.svg"),
        url("../img/bg-map-tablet@2x.jpg");
      background-size: auto, 700px;
    }
  }

  @media (min-width: @page-width-desktop) {
    // width: @page-width-max;
    min-height: 502px;
    // margin-left: -160px;
    // margin-right: -160px;

    background-image: url("../img/icon-map-marker.svg"),
      url("../img/bg-map-desktop@1x.jpg");
    background-size: auto, auto;
    background-position: center 264px, center -277px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/icon-map-marker.svg"),
        url("../img/bg-map-desktop@2x.jpg");
      background-size: auto, 1200px;
    }
  }
}

.contacts__location-map::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 35px;
  background-image: url("../img/bg-triangle-white-footer.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: bottom center;

  @media (min-width: @page-width-tablet) {
    top: -1px;
    height: 70px;
  }

  @media (min-width: @page-width-desktop) {
    top: -10px;
    height: 115px;
    background-size: 120% 125px;
  }
}

.contacts__interactive-map {
  display: block;
  width: 100%;

  @media (min-width: @page-width-tablet) {
    height: 374px;
  }

  @media (min-width: @page-width-desktop) {
    height: 502px;
  }
}
