.download {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 271px;
  padding: 20px;

  background-color: @bg-color-accent;
}

.download__button {
  color: @text-color-contrast;
  border-color: @border-color-button-contrast;
}

.download__options-list {
  .reset-list();
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  max-width: 240px;
  padding-top: 32px;
  padding-bottom: 22px;
}

.download__options-item {
  min-width: 48px;
  min-height: 57px;
}

.download__options-item:not(:nth-child(3n)) {
  margin-right: 31px; // от переполнения, примерно пока
}

.download__option--iphone {
  background: url("../img/logo-apple.svg") center center no-repeat;
}

.download__option--android {
  min-width: 50px;
  background: url("../img/logo-android.svg") center 8px no-repeat;
}

.download__option--windows {
  background: url("../img/logo-microsoft.svg") center 12px no-repeat;
}

.download__description {
  margin: 0 20px;

  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: lighter;
  font-size: @text-size-small;
  line-height: 24px;
  text-align: center;
  color: @text-color-contrast;
}
