.download {
  display: flex;
  flex-direction: column;
  align-items: center;

  flex-basis: 271px;
  padding: 28px 20px 30px;

  background-color: @bg-color-accent;

  @media (min-width: @page-width-tablet) {
    position: absolute;
    top: 350px;
    z-index: 10;
    width: 340px;
    padding: 28px 0 30px;
    background-color: transparent;
  }

  @media (min-width: @page-width-desktop) {
    top: 421px;
    left: 110px;
  }
}

.download__button {
  color: @text-color-contrast;
  text-decoration: none;
  border-color: @border-color-button-contrast;

  &:hover {
    color: @text-color-accent;
    background-color: @bg-color-basic;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
  }

  @media (min-width: @page-width-tablet) {
    width: 300px;
  }

  @media (min-width: @page-width-desktop) {
    font-size: 21px;
  }
}

.download__options-list {
  .reset-list();
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  max-width: 240px;
  padding-top: 31px;
  padding-bottom: 21px;

  @media (min-width: @page-width-tablet) {
    padding-top: 44px;
    padding-bottom: 33px;
  }

  @media (min-width: @page-width-desktop) {
    padding-top: 68px;
    padding-bottom: 51px;
  }
}

.download__options-item {
  min-width: 48px;
  min-height: 57px;

  &--iphone {
    background: url("../img/logo-apple.svg") center center no-repeat;
  }

  &--android {
    min-width: 50px;
    background: url("../img/logo-android.svg") center 8px no-repeat;
  }

  &--windows {
    background: url("../img/logo-microsoft.svg") center 12px no-repeat;
  }
}

.download__options-item:not(:nth-child(3n)) {
  margin-right: 31px;
}

.download__description {
  margin: 0 20px;

  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: @text-size-small;
  line-height: 24px;
  text-align: center;
  color: @text-color-contrast;

  @media (min-width: @page-width-tablet) {
    font-size: @text-size-normal;
  }
}
