.emotions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -1px;

  @media (max-width: @page-min-mobile) {
    width: 320px;
  }

  @media (min-width: @page-width-tablet) {
    order: 5;
    margin: 20px;
    margin-bottom: 36px;
    padding: 24px 58px 52px;
  }

  @media (min-width: @page-width-desktop) {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 41px;
    padding-top: 12px;
    padding-bottom: 45px;
  }
}

.emotions__title {
  padding: 12px 37px;
}

.emotions__description {
  min-height: 200px;
  margin-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 1.7;

  @media (min-width: @page-width-tablet) {
    min-width: 500px;
    min-height: 192px;
    margin-left: 0;
  }

  @media (min-width: @page-width-desktop) {
    min-width: 820px;
    min-height: 127px;
  }
}
