.form {
  width: 100%;
  margin: -33px 0 7px;

  @media (min-width: @page-width-tablet) {
    margin: -28px 0 25px;
  }

  @media (min-width: @page-width-desktop) {
    margin-bottom: 0;
  }
}

.form__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: @page-width-tablet) {
    justify-content: space-between;
    width: @page-width-tablet;
  }

  @media (min-width: @page-width-desktop) {
    width: @page-width-desktop;
    margin-bottom: -26px;
  }
}

.form__container {
  @media (max-width: @page-min-mobile) {
    width: @page-width-mobile;
    margin-left: auto;
    margin-right: auto;
  }
}

.form__container--button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media (min-width: @page-width-tablet) {
    flex-direction: row;
    order: 6;
    width: 100%;
  }

  @media (min-width: @page-width-desktop) {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
  }
}

.form__send-button {
  width: calc(@page-width-mobile - 20px * 2);
  min-height: 63px;
  margin-top: 30px;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: @text-size-normal;
  text-transform: uppercase;
  color: @text-color-contrast;
  background-color: @bg-color-button-form;
  border: none;
  border-radius: 3px;

  &:hover {
    background-color: #1c9b5e;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    color: @text-color-contrast;
    background-color: #e5e5e5;
  }

  @media (min-width: @page-width-tablet) {
    min-width: 300px;
    margin-left: 20px;
  }

  @media (min-width: @page-width-desktop) {
    margin-left: 0;
    margin-top: 24px;
  }
}

.form__notes {
  text-transform: uppercase;

  @media (min-width: @page-width-tablet) {
    margin-top: 21px;
    margin-right: 20px;
  }

  @media (min-width: @page-width-desktop) {
    margin-top: 15px;
    margin-right: 0;
  }
}

.form__text-accent {
  color: @text-color-accent;
}
