// .gallery

.gallery__list {
  .reset-list();
  text-align: center;
}

// .gallery__item

.gallery__fullsize-image {
  font-size: 0;
  vertical-align: bottom;
}

.gallery__message {
  margin: 0 20px 20px;
  padding: 25px 17px;

  text-align: left;
  background-color: @bg-color-sup;
}

.gallery__author {
  margin: 0 0 14px;

  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: @text-size-small;
  line-height: 24px;
}

.gallery__time-ago {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: lighter;
  font-size: @text-size-xsmall;
  line-height: 24px;
  text-transform: uppercase;
}

.gallery__text {
  margin: 0 0 25px;

  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: @text-size-small;
  line-height: 24px;
}

.gallery__likes {
  background-color: transparent;
  border: none;
}

.gallery__button-text {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: @text-size-small;
  line-height: 24px;
  text-transform: uppercase;
  color: @text-color-accent;
}
