@menu-item-left-margin: 20px;

.main-nav {
  display: flex;
  flex-direction: column;
  color: @text-color-menu;
  background-color: transparent;

  @media (min-width: @page-width-desktop) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.main-nav--opened {
  background-color: @bg-color-menu;

  @media (min-width: @page-width-desktop) {
    background-color: transparent;
  }
}

.main-nav__controls {
  flex-basis: 66px; // высота (fxd column)

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;

  @media (min-width: @page-width-tablet) {
    flex-basis: 110px; // высота (fxd column)
  }

  @media (min-width: @page-width-desktop) {
    flex-basis: 190px; // ширина (fxd row)
    flex-shrink: 0;
    padding: 0;
  }
}

.main-nav--opened .main-nav__controls {
  flex-basis: 70px;
  background-color: transparent;
  border-bottom: 1px solid @bg-color-menu-shadow;

  @media (min-width: @page-width-tablet) {
    flex-basis: 110px;
  }

  @media (min-width: @page-width-desktop) {
    flex-basis: 150px;
    border: none;
  }
}

.main-nav__logo-link {
  @media (min-width: @page-width-tablet) {
    margin-top: -16px;
  }
}

.main-nav__logo-image {
  display: block;
}

.main-nav__toggle {
  width: 50px;
  height: 24px;

  background-color: transparent;
  background-image: url("../img/icon-menu-burger.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  border: none;

  @media (min-width: @page-width-desktop) {
    display: none;
  }
}

.main-nav--opened .main-nav__toggle {
  width: 23px;
  height: 23px;
  background-image: url("../img/icon-menu-cross.svg");
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav__list {
  .reset-list();
  display: none;

  @media (min-width: @page-width-desktop) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: calc(620px + @menu-item-left-margin);
    min-height: 110px;
  }
}

.main-nav--opened .main-nav__list {
  display: flex;
  flex-direction: column;
  margin-bottom: -66px;
  background-color: @bg-color-menu;

  @media (min-width: @page-width-tablet) {
    margin-bottom: -110px;
  }

  @media (min-width: @page-width-desktop) {
    flex-direction: row;
    margin-bottom: 0;
    background-color: transparent;
  }
}

.main-nav__item {
  min-height: 64px;
  padding: 15px;

  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: @text-size-normal;
  line-height: 32px;
  text-transform: uppercase;
  text-align: center;

  border-top: 1px solid @bg-color-menu-reflect;
  border-bottom: 1px solid @bg-color-menu-shadow;

  @media (min-width: @page-width-desktop) {
    margin-left: @menu-item-left-margin;
    padding: 46px 0 10px;
    font-weight: 400;
    line-height: 18px;
    text-transform: none;
    border: none;
  }
}

.main-nav__link {
  color: inherit;
  text-decoration: none;

  &:hover {
    // @media (min-width: @page-width-desktop) {
      color: @text-color-accent;
    // }
  }

  &:active {
    opacity: 0.3;

    @media (min-width: @page-width-desktop) {
      color: inherit;
    }
  }
}

.main-nav__item--active .main-nav__link {
  @media (min-width: @page-width-desktop) {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: -9px;
      left: 0;
      height: 2px;
      background: @text-color-menu;
    }
  }
}
