.page-title {
  width: 100%;
  min-height: 236px;
  margin: 0;

  font-weight: 300;
  font-size: @text-size-large;
  line-height: 32px;
  text-align: center;
  color: @text-color-contrast;

  background-color: @bg-color-menu;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center top;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: @page-width-mobile auto;
  }

  @media (min-width: @page-width-tablet) {
    min-height: 440px;

    font-size: @text-size-xxl;
    line-height: 69px;

    background-image: url("../img/bg-back-tablet@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: auto 728px;
    }
  }

  @media (min-width: @page-width-desktop) {
    min-height: 394px;

    font-size: @text-size-xxl;
    line-height: 68px;

    background-image: url("../img/bg-back-desktop@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: auto 854px;
    }
  }
}

.page-title--index {
  min-height: 462px;

  @media (min-width: @page-width-tablet) {
    min-height: 729px;
    font-size: @text-size-xl;
    line-height: 48px;
  }

  @media (min-width: @page-width-desktop) {
    min-height: 853px;
    font-size: @text-size-xxl;
    line-height: 69px;
  }
}

.page-title__container {
  padding: 71px 30px 10px;

  @media (min-width: @page-width-tablet) {
    width: 100%;
    padding: 126px 30px 5px;
  }

  @media (min-width: @page-width-desktop) {
    position: relative;
    width: 100%;
    min-height: 394px;
    padding: 120px 0 10px;
  }
}

.page-title--index .page-title__container {
  padding: 86px 20px 312px;
  overflow: hidden;

  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: left calc(50% - 31px) top 175px;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/iphone-hand-mobile@2x.png");
    background-size: 258px auto;
  }

  @media (min-width: @page-width-tablet) {
    padding: 204px 385px 381px 66px;

    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-position: right 50% top 184px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-hand-tablet@2x.png");
      background-size: 700px auto;
    }
  }

  @media (min-width: @page-width-desktop) {
    width: 100%;
    min-height: 394px;
    padding: 209px 0 644px;

    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-position: right calc(50% - 71px) top 209px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-hand-desktop@2x.png");
      background-size: 1050px auto;
    }
  }
}

.page-title__text {
  margin-left: auto;
  margin-right: auto;

  @media (min-width: @page-width-desktop) {
    max-width: 760px;
  }
}

.page-title--index .page-title__text {
  max-width: 280px;
  margin: 0 auto;
  text-align: center;

  @media (min-width: @page-width-tablet) {
    max-width: 200px;
  }

  @media (min-width: @page-width-desktop) {
    position: absolute;
    right: calc(50% + 200px);
    max-width: 240px;
    margin: 0;
  }
}

.page-title--form .page-title__text {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: @page-width-tablet) {
    max-width: 500px;
  }

  @media (min-width: @page-width-desktop) {
    max-width: 750px;
  }
}
