.page-footer {
  min-height: 284px;

  text-align: center;
}

// .page-footer__logo
// .page-footer__logo-image

// .page-footer__social

.page-footer__social-list {
  .reset-list();
}

// .page-footer__social-item
// .page-footer__social-link
// .page-footer__social-logo

// .page-footer__copyright
.page-footer__copyright-description {

  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: @text-size-small;
  line-height: 18px;
}
// .page-footer__copyright-link
// .page-footer__copyright-image
