.page-title {
  min-height: 170px; // или 171?
  margin: 0;
  padding: 29px 30px;

  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: lighter;
  font-size: @text-size-large;
  line-height: 1.2;
  text-align: center;
  color: @text-color-contrast;

  background-color: @bg-color-menu;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center 0; // center 259px;
}

.page-title--index {
  min-height: 396px;
  padding: 22px 20px;
  background-image: url("../img/iphone-hand-mobile@1x.png"),
                    url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: auto, auto;
  background-position: 0 109px, center 0;
}
