.page-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 284px;
  padding: 39px 0 37px;

  @media (min-width: @page-width-tablet) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 127px;
    padding: 0 20px;
  }

  @media (min-width: @page-width-desktop) {
    min-height: 197px;
    margin: 0 130px;
    padding: 0;
  }
}

.page-footer__logo {
  @media (min-width: @page-width-tablet) {
    margin-top: -13px;
  }
}

.page-footer__logo-link {
  display: block;
  height: 100%;
  color: @text-color-plain;

  &:hover {
    color: @text-color-accent;
  }

  &:active {
    color: @text-color-plain;
    opacity: 0.3;
  }
}

.page-footer__logo-image--mobile {
  display: block;

  @media (min-width: @page-width-desktop) {
    display: none;
  }
}

.page-footer__logo-image--desktop {
  display: none;

  @media (min-width: @page-width-desktop) {
    display: block;
  }
}

.page-footer__social {
  width: 180px;

  @media (min-width: @page-width-tablet) {
    margin-top: -9px;
    margin-left: -14px;
  }

  @media (min-width: @page-width-desktop) {
    width: 172px;
    margin-top: -7px;
    margin-left: 11px;
  }
}

.page-footer__social-list {
  .reset-list();
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.page-footer__social-item {
  margin-top: 5px;
  margin-bottom: 5px;

  @media (min-width: @page-width-tablet) {
    margin-bottom: 0;
  }
}

.page-footer__social-link {
  display: block;
  width: 54px;
  height: 54px;
  border: 3px solid rgba(@border-color-button-social, 0.1);
  border-radius: 50%;

  background-color: @bg-color-basic;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;

  &:hover {
    border: 3px solid @border-color-button-social;
  }

  &:active {
    opacity: 0.3;
    border: 3px solid rgba(@border-color-button-social, 0.1);
  }
}

.page-footer__social-link--twitter {
  background-image: url("../img/icon-twitter.svg");
}

.page-footer__social-link--facebook {
  background-image: url("../img/icon-facebook.svg");
}

.page-footer__social-link--youtube {
  background-image: url("../img/icon-youtube.svg");
}

.page-footer__copyright {
  display: flex;
  align-items: center;
}

.page-footer__copyright-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 4px;
  font-weight: 400;
  font-size: @text-size-small;
  line-height: 18px;
  text-decoration: none;
  color: @text-color-accent;

  &:hover {
    color: @text-color-plain;
  }

  &:active {
    color: rgba(@text-color-plain, 0.3);
  }

  @media (min-width: @page-width-desktop) {
    font-size: @text-size-normal;
  }
}

.page-footer__copyright-description {
  color: @text-color-plain;
  margin-right: 17px;

  @media (min-width: @page-width-desktop) {
    margin-right: 15px;
  }
}
