@tablewidth-mobile: calc(calc(@page-width-mobile - 40px) * 3);
@tablewidth-tablet: calc(@page-width-tablet - 20px * 2);
@tablewidth-desktop: calc(@page-width-max - 130px * 2);
@border-radius: 3px;

.prices {
  padding-top: 106px;
  padding-bottom: 46px;
  background: linear-gradient(-3.5deg, @bg-color-sup 95%, @bg-color-basic 5%);
  overflow: hidden;

  @media (min-width: @page-width-tablet) {
    padding: 97px 20px 31px;
    background: linear-gradient(-3.5deg, @bg-color-sup 91%, @bg-color-basic 9%);
  }

  @media (min-width: @page-width-desktop) {
    padding: 180px 130px 59px;
    background: linear-gradient(-4.75deg, @bg-color-sup 82%, @bg-color-basic 18%);
  }
}

.prices__wrapper {
  margin-bottom: 20px;
}

.prices__table {
  width: @tablewidth-mobile;
  margin-bottom: 36px;
  empty-cells: hide;
  box-sizing: content-box;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: @border-radius;

  @media (min-width: @page-width-tablet) {
    width: 100%;
  }

  @media (min-width: @page-width-desktop) {
    width: 100%;
  }
}

.prices__header {
  position: relative;
  height: 94px;
  color: @text-color-contrast;
  vertical-align: top;
  background-color: @bg-color-table-header;
  border-left: 2px solid @border-color-th-vertical;

  @media (min-width: @page-width-tablet) {
    height: 75px;
  }

  @media (min-width: @page-width-desktop) {
    height: 94px;
  }
}

.prices__header--first-column,
.prices__feature--first-column {
  display: none;

  @media (min-width: @page-width-tablet) {
    display: table-cell;
  }
}

.prices__feature--first-column {
  @media (min-width: @page-width-tablet) {
    padding: 5px 15px;
    font-size: @text-size-small;
    line-height: 30px;
  }

  @media (min-width: @page-width-desktop) {
    padding-left: 20px;
    font-size: @text-size-normal;
  }
}

.prices__header:not(:first-child)::after {
  content: "";
  position: absolute;
  z-index: 10;
  right: 0;
  bottom: -2px;
  left: 0;
  height: 2px;
  background: @bg-color-table-header;
}

.prices__header:nth-child(2) {
  border-left: 2px solid @bg-color-table-header;
  border-top-left-radius: @border-radius;

  &::after {
    left: -2px;
  }
}

.prices__header:last-child {
  border-right: 2px solid @bg-color-table-header;
  border-top-right-radius: @border-radius;

  &::after {
    right: -2px;
  }
}

.prices__tariff {
  margin: 9px 0 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;

  @media (min-width: @page-width-tablet) {
    font-size: 16px;
  }

  @media (min-width: @page-width-desktop) {
    margin: 13px 0 3px;
    font-size: @text-size-normal;
  }
}

.prices__header--hit .prices__tariff {
  &::before {
    content: "ХИТ";
    position: absolute;
    left: 15px;
    top: 13px;
    z-index: 2;
    font-weight: 400;
    font-size: @text-size-small;
    line-height: 30px;
    text-align: center;
    transform: rotate(-45deg);

    @media (min-width: @page-width-tablet) {
      left: 6px;
      top: 8px;
    }

    @media (min-width: @page-width-desktop) {
      left: 14px;
      top: 13px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    left: -2px;
    top: 0;
    z-index: 1;
    width: 74px;
    height: 74px;
    background-image: url("../img/bg-hit-mobile.svg");
    background-repeat: no-repeat;
    background-size: contain;

    @media (min-width: @page-width-tablet) {
      left: 0;
      width: 57px;
      height: 57px;
    }

    @media (min-width: @page-width-desktop) {
      width: 72px;
      height: 72px;
    }
  }
}

.prices__value {
  margin: 0;
  font-weight: 300;
  font-size: @text-size-normal;
  line-height: 25px;

  @media (min-width: @page-width-desktop) {
    font-size: @text-size-large;
  }
}

.prices__feature--first-column,
.prices__availability {
  background-color: @bg-color-basic;
  border-left: 2px solid @border-color-table;
  border-bottom: 2px solid @border-color-table;
}

.prices__content-first-row .prices__feature--first-column {
  border-top: 2px solid @border-color-table;
  border-top-left-radius: @border-radius;
}

.prices__content-last-row .prices__feature--first-column {
  border-bottom-left-radius: @border-radius;
}

.prices__content-last-row .prices__availability--last-end {
  border-bottom-right-radius: @border-radius;
}

.prices__content-last-row .prices__availability--last-start {
  border-bottom-left-radius: @border-radius;

  @media (min-width: @page-width-tablet) {
    border-bottom-left-radius: 0;
  }
}

.prices__availability {
  position: relative;
  height: 62px;
  padding: 10px 22px;

  font-weight: 400;
  font-size: @text-size-small;
  line-height: 30px;
  text-transform: uppercase;

  @media (min-width: @page-width-tablet) {
    width: 155px;
    height: 48px;
    padding: 8px 22px;
  }

  @media (min-width: @page-width-desktop) {
    width: 235px;
    height: 62px;
  }
}

.prices__availability--yes::after {
  content: "";
  position: absolute;
  right: 19px;
  top: 21px;
  min-width: 26px;
  max-width: 27px;
  min-height: 14px;
  max-height: 15px;
  padding: 0;

  background-color: transparent;
  border: none;
  border-bottom: 3px solid @color-green;
  border-left: 3px solid @color-green;
  transform: rotate(-45deg);

  @media (min-width: @page-width-tablet) {
    right: 64px;
    top: 15px;
  }

  @media (min-width: @page-width-desktop) {
    right: 105px;
    top: 22px;
  }
}

.prices__availability--no {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 28px;
    right: 14px;
    width: 35px;
    height: 3px;
    padding: 0;
    background-color: #f25b26;
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  @media (min-width: @page-width-tablet) {
    &::before,
    &::after {
      right: 60px;
      top: 21px;
    }
  }

  @media (min-width: @page-width-desktop) {
    &::before,
    &::after {
      right: 100px;
      top: 28px;
    }
  }
}

.prices__availability .prices__feature {
  @media (min-width: @page-width-tablet) {
    font-size: 0;
    line-height: 0;
  }
}

.prices__availability:last-child {
  border-right: 2px solid @border-color-table;
}

.prices__toggles {
  width: @tablewidth-mobile;
  margin: 0;
  text-align: center;

  @media (min-width: @page-width-tablet) {
    display: none;
  }
}
