.research {
  display: none;

  @media (min-width: @page-width-tablet) {
    display: block;
  }

  @media (min-width: @page-width-desktop) {
    background-color: @bg-color-sup;
  }
}

.research__container {
  @media (min-width: @page-width-tablet) {
    position: relative;
    padding: 96px 20px 30px 330px;
  }

  @media (min-width: @page-width-desktop) {
    padding: 153px 166px 111px 500px;
  }
}

.research__container::after {
  @media (min-width: @page-width-tablet) {
    content: "24";
    position: absolute;
    left: 14px;
    top: 50px;
    display: block;
    width: auto;
    height: auto;
    padding: 110px 70px 80px;

    font-weight: 700;
    font-size: 96px;
    line-height: 1;
    color: @text-color-accent;

    background-image: url("../img/icon-editor-diagram-fill.svg"),
      url("../img/icon-timer.svg");
    background-repeat: no-repeat;
    background-position: center 55px, center 0;
    background-size: 202px 212px, 238px 283px;
  }

  @media (min-width: @page-width-desktop) {
    font-size: 120px;
    left: 127px;
    top: 41px;
    padding: 150px 85px 90px;

    background-color: @bg-color-sup;
    background-position: center 85px, center 15px;
    background-size: 253px 253px, 350px 345px;
  }
}

.research__header {
  @media (min-width: @page-width-tablet) {
    margin: 0;
    margin-bottom: 10px;
    margin-right: 100px;

    font-weight: 700;
    font-size: @text-size-headers;
    line-height: 36px;
    color: @text-color-header;
  }

  @media (min-width: @page-width-desktop) {
    margin-bottom: 25px;
    line-height: 30px;
  }
}

.research__description {
  @media (min-width: @page-width-tablet) {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: @text-size-small;
    line-height: 24px;
  }

  @media (min-width: @page-width-desktop) {
    margin-bottom: 31px;
    font-size: @text-size-normal;
    line-height: 30px;
  }
}

.research__link {
  @media (min-width: @page-width-tablet) {
    font-weight: 400;
    font-size: @text-size-small;
    line-height: 24px;
    color: @text-color-accent;
  }

  @media (min-width: @page-width-desktop) {
    font-size: @text-size-normal;
    line-height: 30px;
  }
}
