.slider.prices-wrapper {
  transform: translateX(calc(-280px + 20px));

  @media (min-width: @page-width-tablet) {
    transform: none;
  }
}

.slider__item:not(:first-child) {
  display: none;
}

.slider__toggles {
  word-spacing: 8px;
  line-height: 1;
}

.slider__toggle {
  width: 12px;
  height: 12px;
  padding: 0;
  border-width: 3px;
  border-style: solid;
  border-color: @bg-color-basic;
  border-radius: 50%;
  background-color: @color-blue;
  opacity: 0.3;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.1;
  }
}

.slider__toggle--current {
  background-color: @bg-color-basic;
  border-color: @color-blue;
  opacity: 1;

  &:hover,
  &:active {
    opacity: 1;
  }
}
