.slogan {
  min-height: 184px;
  margin: 0 auto;
  padding: 45px 35px 20px;

  font-weight: 400;
  font-size: @text-size-small;
  line-height: 30px;
  text-align: center;
  color: @bg-color-menu;

  @media (min-width: @page-width-tablet) {
    min-height: 228px;
    padding: 91px 84px 20px;
    font-size: @text-size-normal;
    font-weight: 400;
  }

  @media (min-width: @page-width-desktop) {
    max-width: 640px;
    min-height: 239px;
    padding: 91px 0 20px;
  }
}

.slogan__text {
  margin: 0 auto;
}

.slogan__text--photo {
  max-width: 250px;

  @media (min-width: @page-width-tablet) {
    max-width: 500px;
  }

  @media (min-width: @page-width-desktop) {
    max-width: 575px;
  }
}

.slogan__text--form {
  max-width: 280px;

  @media (min-width: @page-width-tablet) {
    max-width: 500px;
  }

  @media (min-width: @page-width-desktop) {
    max-width: 800px;
  }
}
