.slogan {
  min-height: 184px;
  margin: 0;

  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: @text-size-small;
  line-height: 20px;
  text-align: center;
  color: @bg-color-menu;
}
