.user-photo {
  @media (min-width: @page-width-desktop) {
    margin-bottom: 28px;
  }
}

.user-photo__slogan {
  padding: 43px 30px 42px;
  min-height: 140px;
  background-color: @bg-color-basic;

  @media (min-width: @page-width-tablet) {
    padding-top: 64px;
    padding-bottom: 70px;
  }

  @media (min-width: @page-width-desktop) {
    padding-top: 58px;
    padding-bottom: 66px;
  }
}

.user-photo__form {
  background-color: @bg-color-sup;
}

.user-photo__form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: @page-width-mobile;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: @page-width-tablet) {
    flex-direction: row;
    align-items: stretch;
    width: @page-width-tablet;
    padding-top: 57px;
    padding-bottom: 55px;
  }

  @media (min-width: @page-width-desktop) {
    width: ~"calc(@{page-width-desktop} - 20px)";
    padding: 57px 60px 57px 80px;
  }
}

.user-photo__photo {
  flex-shrink: 0;
  width: 280px;
  height: 374px;
  margin: 20px;

  background-image: url("../img/photo-road-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/photo-road-mobile@2x.jpg");
  }

  @media (min-width: @page-width-tablet) {
    width: 300px;
    height: 400px;
    margin: 0 20px;
    background-image: url("../img/photo-road-tablet@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/photo-road-tablet@2x.jpg");
    }
  }

  @media (min-width: @page-width-desktop) {
    margin-left: 0;
    margin-right: 90px;
    background-image: url("../img/photo-road-desktop@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/photo-road-desktop@2x.jpg");
    }
  }
}

.user-photo__customization {
  position: relative;
  width: 100%;

  @media (min-width: @page-width-tablet) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @media (min-width: @page-width-desktop) {
    width: 100%;
    margin: 0;
  }
}

.user-photo__customization::before {
  content: "";
  position: relative;
  top: 140px;
  display: block;
  height: 1px;
  background-color: rgba(40, 54, 69, 0.1);

  @media (min-width: @page-width-tablet) {
    display: none;
  }
}

.user-photo__tools-list {
  .reset-list;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 240px;
  margin: 0 auto;
  padding: 16px 17px 67px 11px;

  @media (min-width: @page-width-tablet) {
    flex-wrap: nowrap;
    flex-direction: column;
    max-width: 275px;
    margin-left: 25px;
    margin-right: 20px;
    padding: 0;
  }

  @media (min-width: @page-width-desktop) {
    max-width: 100%;
    margin: -5px 0 0 -4px;
  }
}

.user-photo__tools-item {
  @media (min-width: @page-width-tablet) {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 17px 18px 16px 0;
    border-bottom: 1px solid rgba(40, 54, 69, 0.1);
  }

  @media (min-width: @page-width-desktop) {
    padding-top: 11px;
    padding-bottom: 9px;
    padding-right: 25px;
  }
}

.user-photo__tools-item:last-child {
  @media (min-width: @page-width-desktop) {
    padding-top: 8px;
    border-bottom: none;
  }
}

.user-photo__tools-item:first-child {
  @media (min-width: @page-width-tablet) {
    padding-top: 0;
  }
}

.user-photo__button {
  width: 55px;
  height: 55px;
  padding: 0;
  border: none;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  opacity: 0.3;

  @media (min-width: @page-width-tablet) {
    width: 39px;
    height: 39px;
    margin-right: 21px;
    opacity: 1;
  }

  @media (min-width: @page-width-desktop) {
    width: 70px;
    height: 52px;
    margin-right: 44px;
  }
}

.user-photo__button--crop {
  margin-top: -5px;
  background-image: url("../img/icon-editor-crop.svg");
  background-size: 47px;

  @media (min-width: @page-width-tablet) {
    margin-top: 0;
    background-image: url("../img/icon-editor-crop-active.svg");
    background-size: 24px;
    background-position: left 3px top 8px;
  }

  @media (min-width: @page-width-desktop) {
    background-size: 47px;
    background-position: center center;
  }
}

.user-photo__button--fill {
  margin-top: 2px;
  margin-left: 2px;
  background-image: url("../img/icon-editor-fill.svg");
  background-size: 48px;

  @media (min-width: @page-width-tablet) {
    margin-top: 0;
    margin-left: 0;
    background-image: url("../img/icon-editor-fill-active.svg");
    background-size: 24px;
    background-position: left 3px top 10px;
  }

  @media (min-width: @page-width-desktop) {
    background-size: 47px;
    background-position: left 4px top 5px;
  }
}

.user-photo__button--contrast {
  margin-top: -6px;
  margin-left: -4px;
  background-image: url("../img/icon-editor-contrast.svg");
  background-size: 32px;

  @media (min-width: @page-width-tablet) {
    margin-top: 0;
    margin-left: 0;
    background-image: url("../img/icon-editor-contrast-active.svg");
    background-size: 15px;
    background-position: left 7px top 9px;
  }

  @media (min-width: @page-width-desktop) {
    background-size: 32px;
    background-position: center center;
  }
}

.user-photo__tools-item--active .user-photo__button {
  opacity: 1;
}

.user-photo__tools-item--active .user-photo__button--crop {
  background-image: url("../img/icon-editor-crop-active.svg");
}

.user-photo__tools-item--active .user-photo__button--fill {
  background-image: url("../img/icon-editor-fill-active.svg");
}

.user-photo__tools-item--active .user-photo__button--contrast {
  background-image: url("../img/icon-editor-contrast-active.svg");
}

.user-photo__visual-range {
  position: absolute;
  display: none;
  width: 100%;
  height: 2px;
  background-color: @text-color-plain;

  @media (min-width: @page-width-tablet) {
    position: static;
    display: block;
    width: 100%;
  }

  @media (min-width: @page-width-desktop) {
    top: 85px;
  }
}

.user-photo__tools-item--active .user-photo__visual-range {
  top: 83px;
  left: 0;
  display: block;
  margin-top: 20px;

  @media (min-width: @page-width-tablet) {
    margin-top: 0;
  }
}

.user-photo__range-thumb {
  position: relative;
  top: -5px;
  width: 14px;
  height: 14px;
  background-color: @bg-color-basic;
  border: 2px solid @text-color-accent;
  border-radius: 50%;
  cursor: pointer;

  &:hover,
  &:active {
    background-color: @text-color-accent;
  }
}

.user-photo__range--crop ~ .user-photo__visual-range .user-photo__range-thumb {
  left: 80%;

  @media (min-width: @page-width-tablet) {
    left: 72%;
  }

  @media (min-width: @page-width-desktop) {
    left: 24%;
  }
}

.user-photo__range--fill ~ .user-photo__visual-range .user-photo__range-thumb {
  left: 20%;

  @media (min-width: @page-width-tablet) {
    left: 12%;
  }

  @media (min-width: @page-width-desktop) {
    left: 85%;
  }
}

.user-photo__range--contrast ~ .user-photo__visual-range .user-photo__range-thumb {
  left: 50%;

  @media (min-width: @page-width-tablet) {
    left: 47%;
  }

  @media (min-width: @page-width-desktop) {
    left: 55%;
  }
}

.user-photo__controls-list {
  .reset-list;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 38px;
  padding-bottom: 41px;

  @media (min-width: @page-width-tablet) {
    padding-top: 38px;
    padding-bottom: 0;
  }

  @media (min-width: @page-width-desktop) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.user-photo__post {
  margin-bottom: 12px;
  color: @text-color-accent;
  border-color: @text-color-accent;

  &:hover {
    color: @text-color-contrast;
    background-color: @text-color-accent;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: @page-width-tablet) {
    margin-bottom: 24px;
  }

  @media (min-width: @page-width-desktop) {
    margin-bottom: 0;
  }
}

.user-photo__cancel {
  color: @text-color-plain;
  border-color: @bg-color-accent;
  opacity: 0.1;

  &:hover {
    opacity: 0.3;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: @text-color-plain;
  }
}

.user-photo__post,
.user-photo__cancel {
  @media (min-width: @page-width-tablet) {
    min-width: 260px;
  }

  @media (min-width: @page-width-desktop) {
    min-width: 183px;
    max-width: 200px;
  }
}

.user-photo__post[disabled],
.user-photo__cancel[disabled] {
  color: @text-color-plain;
  border-color: @text-color-plain;
  opacity: 0.1;
}
